@use "../globals"as *;
@use "../util"as *;

body {
	position: relative;
	background: var(--primary);
	font-family: $base-font;
}

.homepage {
	min-height: 100vh;
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;

	.direction-svg {
		position: absolute;
		bottom: 10%;
		right: 10px;
		fill: var(--secondary);
		animation: bounce 1s ease alternate infinite;

		// Breakpoint for desktop upward
		@include breakpoint($bp: rem(700)) {
			display: none;
		}
	}
}

.home {
	font-family: $base-font;
	width: 100%;
	height: 500px;
	text-align: center;

	&__title {
		font-weight: 700;
		color: var(--headline);
		font-size: clamp(42px, 11vw, 80px);
	}

	&__info {
		font-weight: 700;
		color: var(--headline);
		color: var(--font-color);
		color: var(--secondary);
		font-family: $secondary-font;
		font-size: clamp(18px, 1.7vw, 40px);
		line-height: rem(35);
		margin: 120px 0 0 0;
	}

	&__details {
		margin-inline: auto;
		color: var(--font-color);
		max-width: rem(631);
		line-height: rem(30);
		font-size: rem(16);
	}

	&__button {
		overflow: hidden;
		display: inline-block;
	}

	&__cta {
		font-size: rem(14);
		line-height: (14);
		font-weight: 400;
		font-family: $secondary-font;
		padding: 1.25rem 1.75rem;
		margin-top: 50px;
		border: 1px solid var(--secondary);
		color: var(--secondary);
		border-radius: 5px;
		transition: all 250ms ease-in-out;
		position: relative;

		&:hover {
			color: var(--btn-text);
		}

		&:hover::before {
			transform: translateX(0);
			opacity: 1;
		}

		&::before {
			content: "";
			position: absolute;
			background: var(--secondary);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transform: translateX(-100%);
			opacity: 0;
			z-index: -20;
			transition: all 250ms ease-in-out;
		}
	}
}


.home__social {
	position: fixed;
	display: none;
	flex-direction: column;
	bottom: 0;
	left: rem(10);
	right: auto;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	gap: 10px;

	// Breakpoint for desktop upward
	@include breakpoint($bp: rem(708)) {
		display: flex;
	}

	// Breakpoint for desktop upward
	@include breakpoint($bp: rem(1300)) {
		left: rem(60);
	}


	&::after {
		content: "";
		display: block;
		width: 1px;
		height: 150px;
		margin: 0px auto;
		background: var(--secondary);
	}

	svg {
		margin: 0;
		fill: var(--font-color);
		transition: fill 250ms ease;

		&:hover {
			fill: var(--secondary);
		}
	}
}

.home__email {
	position: fixed;
	bottom: 0;
	right: rem(13);
	left: auto;
	z-index: 1000;
	display: none;

	// Breakpoint for desktop upward
	@include breakpoint($bp: rem(708)) {
		display: block;
	}

	// Breakpoint for desktop upward
	@include breakpoint($bp: rem(1300)) {
		right: rem(63);
	}

	.link {
		position: relative;
		align-items: center;
		-moz-box-align: center;
		display: flex;
		flex-direction: column;

		&::after {
			content: "";
			display: block;
			width: 1px;
			height: 150px;
			margin: 0px auto;
			background: var(--secondary);
		}

		a {
			writing-mode: vertical-rl;
			font-family: $secondary-font;
			transition: all 250ms ease-in-out;
			color: var(--font-color);
			font-size: rem(14);

			&:hover {
				color: var(--secondary);
			}
		}
	}
}